# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Visual Studio Code Settings & Extensions
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# User-specific files
*.code-workspace

# Visual Studio Code Server
.vscode-server/

# Visual Studio Code 2022
.vscode/

# GIT
.git/

# Visual Studio Code folder
.vs/